body{
    text-align: center;
    background-color: blueviolet;
}
canvas{
    border:1px solid black
}

html, body {
    margin: 0;
    padding: 0;
}
div.class{
    text-align: center;    
    background-color: white;
    color: white;
    font-size: 15px;
}


